<div class="container">

  {{! Display a toast message if one was provided. }}
  {{#if toastMessage}}
    <p class="loginToastMessage">{{toastMessage}}</p>
  {{/if}}

  <form id="loginForm" action="./login" method="POST">
    <h1>Login</h1>
    <div class="flex-col mb">
      <label for="txtUsername">Username:</label>
      <input type="text" name="username" id="txtUsername" required />
    </div>

    <div class="flex-col mb">
      <label for="txtPassword">Password:</label>
      <input type="password" name="password" id="txtPassword" required />
    </div>

    <div class="flex-row justify-sb align-center">
      <button type="submit">Log in</button>
    </div>
    <p>Not yet registered? Click <a href="/register">here</a></p>
    <p>Forgot password? Click <a href="/newPasswordForm">here</a></p>
  </form>

</div>