<div class="container">

  {{! Display a toast message if one was provided. }}
  {{#if toastMessage}}
    <p>{{toastMessage}}</p>
  {{/if}}

  <h1>New Account</h1>
  <form action="./register" method="POST">
    <div class="flex-col mb">
      <label for="registerUsername">Username:</label>
      <span class="validationSpan" id="userExistsValue"></span>
      <input
        type="text"
        name="username"
        id="registerUsername"
        min="3"
        max="20"
        required
      />
    </div>

    <div class="flex-col mb">
      <label for="registerPassword">Password:</label>
      <input type="password" name="password" id="registerPassword" required />
    </div>

    <div class="flex-col mb">
      <label for="reEnterPassword">Re-enter password:</label>
      <span class="validationSpan" id="passwordExistsValue"></span>
      <input
        type="password"
        name="reEnterPassword"
        id="reEnterPassword"
        required
      />
    </div>

    <div class="flex-col mb">
      <label for="registerName">Name:</label>
      <input type="text" name="name" id="registerName" required />
    </div>

    <div class="flex-col mb">
      <label for="registerEmail">Email:</label>
      <input type="email" name="email" id="registerEmail" required />
    </div>

    <div class="flex-col mb">
      <label for="registerDob">Date of birth:</label>
      <input type="date" name="dob" id="registerDob" required />
    </div>

    <div class="flex-col mb">
      <label for="registerDescription">Describe yourself:</label>
      <textarea
        name="description"
        id="registerDescription"
        cols="30"
        rows="4"
      ></textarea>
    </div>

    <div class="">
      <label for="avatarIconSelection">Choose your avatar:</label><br />
      <div class="avatarIconContainer">
        <div class="avatarIcon">
          <input
            type="radio"
            id="bulbasaur"
            name="avatarIconUrl"
            value="/icons/bullbasaur.png"
            checked
          />
          <label for="bulbasaur"><img
              src="/icons/bullbasaur.png"
              alt="bulbasaur_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="charmander"
            name="avatarIconUrl"
            value="/icons/charmander.png"
          />
          <label for="charmander"><img
              src="/icons/charmander.png"
              alt="charmander_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="dratini"
            name="avatarIconUrl"
            value="/icons/dratini.png"
          />
          <label for="dratini"><img
              src="/icons/dratini.png"
              alt="dratini_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="pikachu"
            name="avatarIconUrl"
            value="/icons/pikachu.png"
          />
          <label for="pikachu"><img
              src="/icons/pikachu.png"
              alt="pikachu_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="eevee"
            name="avatarIconUrl"
            value="/icons/eevee.png"
          />
          <label for="eevee"><img
              src="/icons/eevee.png"
              alt="eevee_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="jigglypuff"
            name="avatarIconUrl"
            value="/icons/jigglypuff.png"
          />
          <label for="jigglypuff"><img
              src="/icons/jigglypuff.png"
              alt="jigglypuff_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="psyduck"
            name="avatarIconUrl"
            value="/icons/psyduck.png"
          />
          <label for="psyduck"><img
              src="/icons/psyduck.png"
              alt="psyduck_icon"
            /></label>
        </div>
        <div class="avatarIcon">
          <input
            type="radio"
            id="snorlax"
            name="avatarIconUrl"
            value="/icons/snorlax.png"
          />
          <label for="snorlax"><img
              src="/icons/snorlax.png"
              alt="snorlax_icon"
            /></label>
        </div>

      </div>

    </div>

    <div class="flex-row justify-sb align-center">
      <button id="registerBtn" type="submit">Create account</button>
    </div>
  </form>

</div>