.dark .modal {
  background-color: gray;
  color: black;
}

.dark .button {
  color: black;
}

.content-container {
  background-color: rgb(223 199 199);
  height: 271px;
}

.image-container {
  width: 100%;
  height: 27vh;
}

#modal_container {
  box-sizing: border-box;
  position: absolute;
  top: 5vw;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

#modal-close-bottom {
  width: 82vw;
  padding: 10px 15px;
  border: none;
  border-radius: 26px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

#modal-close-bottom {
  width: 82vw;
  padding: 10px 15px;
  border: none;
  border-radius: 26px;
  background-color: green;
  color: #fff;
  cursor: pointer;
}

.modal {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding: 0px;
  margin-top: 120px;
  overflow: scroll;
  background-color: rgb(223 199 199);
  top: 70px;
  left: 10vw;
  right: 10vw;
  width: 80vw;
  height: 75vh;
  position: fixed;
  display: none;
  justify-content: center;
  animation: modal-open 1.3s;
  pointer-events: all;
  z-index: 2;
}

#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #83ca71;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 18px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#close-modal:hover:not(.active) {
  background-color: rgb(10, 82, 25);
}

@keyframes modal-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

#modal-close-bottom {
  position: relative;
  bottom: -93px;
  background-color: #83ca71;
  width: 100%;
  height: 39px;
  text-decoration: solid;
  color: black;
  border: 0px solid black;
  border-radius: 21px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#modal-close-bottom:hover:not(.active) {
  background-color: rgb(10, 82, 25);
}

/* Home page: blogs */
.home-container {
  text-align: center;
  margin-top: 160px;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 120px;
  text-align: start;
}

.blogs {
  width: 400px;
  margin: 70px 30px;
  height: 467px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background-color: rgb(223, 215, 215);
  filter: drop-shadow(0 0 0.35rem rgb(80, 80, 80));
}

.blogs h5 {
  font-weight: 400;
  font-size: 0.8em;
}

.blog-text {
  padding-left: 20px;
}

/* Make blogs responsive */
@media (max-width: 650px) {
  .blogs {
    width: auto;
  }
  .blog-container {
    padding: 0;
  }
}

.blogs p {
  padding: 0 40px;
}

.blog-image {
  width: 100%;
  height: 258px;
}

.blogs h4 {
  position: absolute;
  top: 310px;
  right: 80px;
  width: 55px;
  height: 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #8a7000;
  font-size: 0.8rem;
  transition: 0.2s;
}

.blogs a:hover {
  background-color: #5a4a00;
}

.blogs .icons {
  width: 25px;
}

.blogs .delete-btn-myblog {
  position: absolute;
  top: 301px;
  width: 55px;
  right: 20px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(201 44 44);
  border: none;
  border-radius: 26px;
  font-size: 0.8rem;
  transition: 0.2s;
}

.blogs .delete-btn-myblog:hover {
  background-color: rgb(66, 0, 0);
  cursor: pointer;
}

.blogs .edit-btn-myblog {
  position: absolute;
  top: 302px;
  width: 55px;
  right: 90px;
  text-decoration: none;
  color: white;
  background-color: rgb(109, 110, 0);
  font-size: 0.8rem;
  text-align: center;
  border-radius: 26px;
  transition: 0.2s;
}

.blogs .edit-btn-myblog:hover {
  background-color: rgb(75, 64, 0);
  cursor: pointer;
}

.blogs .edit-btn-myblog a {
  text-decoration: none;
  color: white;
}

.blogs .modal-button {
  color: black;
  font-weight: 600;
  background-color: #04aa6d;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  border: none;
  border-radius: 12px;
}

.modal-button:hover:not(.active) {
  background-color: rgb(10, 82, 25);
  color: beige;
}

.blog-image-modal {
  object-fit: contain;
  width: 80vw;
  height: 46vh;
}

.blog-icon-author {
  font-size: 0.8em;
  font-weight: 600;
  align-self: center;
}

.blog-toastMessage {
  text-align: center;
}

/* Delete account button styling */
#deleteBtn {
  text-decoration: none;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.404);
  padding: 2px 5px;
  font-size: 13.3px;
  border-radius: 2px;
  background-color: rgba(245, 245, 245, 0.452);
}
