/* Navbar styling */

nav {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: 99;
}

nav h2 a {
  color: white;
  font-size: 2em;
  font-weight: 400;
  text-decoration: none;
}

.topNavbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(0.25turn, #303030, #5b5b5b);
  height: 87px;
}

.topNavbarTitle {
  margin-left: 70px;
  display: flex;
  align-items: center;
}

.bottomNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: linear-gradient(0.25turn, #3dd2cc, #5b5b5b);
}

.bottomNavbar,
select {
  font-size: 15px;
  font-weight: 600;
}

.bottomNavbar input {
  font-size: 18px;
  font-style: italic;
}

.searchViewLightDiv {
  display: flex;
  margin-left: 70px;
}

.searchViewLightDiv div {
  padding: 0 5px;
}

.searchDiv input {
  height: 40px;
  border: 1px solid #99dfdd;
  border-radius: 20px;
  width: 388px;
  padding-left: 40px;
}

.search-container img {
  position: absolute;
  transform: translate(8px, 8px);
}

.viewAllDiv select {
  height: 40px;
  border: 1px solid #99dfdd;
  border-radius: 20px;
  background-color: white;
}

.viewAllDiv select option {
  height: 40px;
}

.lightDiv {
  height: 40px;
  border: 1px solid #99dfdd;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
}

.createNewBtn {
  background-color: #fec7ff;
  height: 40px;
  display: flex;
  align-items: center;
  margin-right: 70px;
  border-radius: 20px;
  padding: 0 10px;
}

.createNewBtn a {
  color: black;
  text-decoration: none;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 36px;
}

ul.topnav li a:hover:not(.active) {
  background-color: #33785f;
}

ul.topnav li a.active {
  background-color: #04aa6d;
}
ul.topnav li a.active:hover {
  background-color: #33785f;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

.logout-login-btn {
  margin-right: 10px;
}

.logout-login-btn-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 70px;
}

.logout-login-btn-container a {
  color: #303030;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  background-color: white;
  padding: 10px;
  border-radius: 26px;
  transition: 0.3s;
}

.logout-login-btn-container a:hover {
  background-color: #b8b8b8;
}

.logout-login-btn-container span {
  color: white;
  margin-right: 15px;
  font-size: 1.1em;
}

/* newBlog page styling */

.newBlog-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
  margin-top: -60px;
}

.newBlog-form {
  height: auto;
  width: 800px;
  border: 1px solid black;
  transform: translateY(30%);
  padding: 40px 80px;
  border-radius: 8px;
}

.newBlog-form label {
  color: black;
}

/* Media query to make create blog modal responsive */
@media (max-width: 880px) {
  .newBlog-container {
    width: auto;
  }
  .newBlog-form {
    width: 350px;
  }
}

/* Search bar styling */
.search-container {
  /* width: 295px; */
  /* display: block;
  margin: 0 auto;
  margin-top: 30px; */
}

/* input#blogSearch {

  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #04aa6d;
  outline: none;
  border-radius: 18px;
} */

/* Dark/light theme styling */
/* #theme-toggle {
  width: 92px;
  border-radius: 26px;
  background-color: #83ca71;
  position: absolute;
  right: 50px;
  top: 75px;
} */

/* Hamburger menu styling */

.burger-menu-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
  margin-top: -500px;
  transition: 0.3s;
}

.burger-menu {
  position: absolute;
  background-color: #303030;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ul-burger-menu {
  list-style-type: none;
}

.burger-li {
  margin: 40px;
  text-align: center;
}

.burger-li a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}

/* Hamburger icon styling */

#burger-container {
  display: none;
  justify-content: flex-end;
  margin-right: 30px;
  align-items: center;
}

.hamburger1 {
  height: 45px;
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  z-index: 120;
}

.hamburger1 div {
  background-color: #3dd2cc;
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#toggle1 {
  display: none;
}

#toggle1:checked + .hamburger1 .top {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 22.5px;
}

#toggle1:checked + .hamburger1 .meat {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: -5px;
}

#toggle1:checked + .hamburger1 .bottom {
  -webkit-transform: scale(0);
  transform: scale(0);
}

#toggle1:checked ~ #menu1 {
  height: 340px;
}

/* Navbar responsiveness */
@media (max-width: 700px) {
  .logout-login-btn-container,
  .topnav-container {
    display: none;
  }
  #burger-container {
    display: flex;
  }
  .blog-container {
    padding: 0;
    width: auto;
  }
}

/* Have burger menu close if it is open when going to a larger screen */
@media (min-width: 701px) {
  .burger-menu-container {
    display: none;
  }
}
